.main-btn{
  color: #ffffff;
  width: 100%;
  font-size: 17px;
  font-weight: 500;
  background-color: rgb(0, 137, 123);
  border: 1px solid rgb(0, 137, 123);
  border-radius: 4px;
}

.main-btn:disabled{
  background-color: rgba(0, 137, 123, 0.53);
  border:0;
  color: #ffffff;
}

.form-control:focus{
  border-color: rgb(0, 137, 123);
  box-shadow: none; 
}

.form-control{
  border: 0;
  border-bottom: 1px solid rgb(0, 137, 123);
  border-radius: 0;
  font-size: 14px;
  font-weight: 400;
}

label{
  color: rgb(0, 137, 123);
}