<div class="row">
  <div class="col-md-12">
    <h5 class="title">Detalle</h5>
  </div>
  <div class="col-md-12">
    <table mat-table [dataSource]="list" class="w-100">

      <ng-container matColumnDef="id"  class="m-auto">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'td-impar':calculateImp(element.id)}"> {{element.id}} </td>
      </ng-container>


      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombres </th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'td-impar':calculateImp(element.id)}"> {{element.name}} </td>
      </ng-container>


      <ng-container matColumnDef="lastname">
        <th mat-header-cell *matHeaderCellDef> Apellidos </th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'td-impar':calculateImp(element.id)}"> {{element.lastName}} </td>
      </ng-container>


      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef> Edad &nbsp;&nbsp;</th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'td-impar':calculateImp(element.id)}"> {{element.age}} </td>
      </ng-container>


      <ng-container matColumnDef="birthdate">
          <th mat-header-cell *matHeaderCellDef> Fecha de nacimiento </th>
          <td mat-cell *matCellDef="let element" [ngClass]="{'td-impar':calculateImp(element.id)}"> {{convertFormat(element.birthdate)}} </td>
        </ng-container>
 
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
